:root {
  /* light mode */
  --main-bg-color: #F5F5F5;
  --accent-color: #A59EFF;
  --section-bg-color: #FFF;
  --section-font-color: #000;
  --section-border: 1px solid var(--accent-color);
  --section-shadow-color: lightgrey;
  --link-color: #362cb8;

  /* dark mode */
  /* --main-bg-color: #000;
  --accent-color: #362cb8;
  --section-bg-color: #000;
  --section-font-color: #DDD;
  --section-border: 1px solid var(--accent-color);
  --section-shadow-color: #000;
  --link-color: #A59EFF; */

}

body {
  position: relative;
  max-width: 80%;
  left: 10%;
  background-color: var(--main-bg-color);
  font-family: verdana, sans-serif;
  font-size: 16px;
  color: var(--section-font-color);
}

section {
  background-color: var(--section-bg-color);
  border: var(--section-border);
  padding: 10pt;
  padding-top: 0;
  margin-bottom: 10px;
  box-shadow: 0px 7px 3px -3px var(--section-shadow-color);
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: bold;
}

table, th, td {
  padding: .8em;
}

table {
  border-collapse: collapse;
  border: var(--section-border);
  width: 100%;
}

th {
  border-right: var(--section-border);
  border-bottom: 3px double var(--accent-color);
}

td {
  border-right: var(--section-border);
  border-bottom: var(--section-border);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  border-bottom: var(--section-border);
  padding: 1em;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

.search-bar {
  background-color: var(--section-bg-color);
  color: var(--section-font-color);
  border: var(--section-border);
  border-radius: 100px;
  height: 1.5em;
  padding-left: 30px;
  width: 60%;
}
.search-bar.full {
  height: 1.5em;
  width: calc(100% - 32.5px);
}

.vote, .delete {
  border: 1px solid black;
  border-radius: 100px;
  padding: .25em;
  text-align: center;
  max-width: 4em;
  position: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.delete {
  background-color: yellow;
  cursor: pointer;
}

.delete:hover {
  background-color: var(--accent-color);
}

.aye {
  background-color: #D6FFB2;
}

.no {
  background-color: var(--accent-color);
}

.vote-section-container {
  display: flex;
  margin: -5px;
}

.vote-section {
  width: 50%;
  margin: 5px;
}

#search-icon {
  position:absolute;
  margin-left: 4px;
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
    left: 0;
  }
}
@media (max-width: 600px) {
  .vote-section-container {
    margin: 0;
  }

  .vote-section {
    margin: 0;
  }
}
